<div class="section-callout">
  <button
    class="btn btn-alert btn-lrg btn-full"
    type="button"
    {{action 'closeAddView'}}>
    Return to list
  </button>
</div>

<div class="section-header">
  <h2 class="section-heading">Add Item</h2>
</div>
<div class="card view-addItem">
  <form class="form" method="post" {{action 'addItem' on="submit"}}>
    <div class="input-group">
      <label class="input-label" for="itemNameInput">Name</label>
      <div class="input-autocomplete">
        {{input
          autocomplete="off"
          class="input"
          id="itemNameInput"
          key-down="focusFirstListItem"
          placeholder="item name"
          required="true"
          type="text"
          value=itemName
        }}
        <ul
          class={{ if showList 'autocompleteList' 'autocompleteList is-hidden'}}
          id="autocompleteList">
          {{#each filteredItemNames as |item|}}
            <li
              class="autocompleteList-item"
              tabindex="0"
              {{action 'listItemActions' item}}>
              {{item.name}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="input-group">
      <label class="input-label" for="itemDateInput">Purchase Date</label>
      {{input
        class="input"
        id="itemDateInput"
        max=maxDate
        required="true"
        type="date"
        value=itemDate
      }}
    </div>

    <button
      class="btn btn-primary"
      type="submit">
      Add Item
    </button>
  </form>

</div>
