<div class="section-callout">
  {{#link-to 'home.add' class="btn btn-primary btn-full btn-lrg btn-addItem"}}Add Item{{/link-to}}
</div>

<div class="section-header">
  <h2 class="section-heading">You Might Need</h2>
  {{#if hasHidden}}
    <button type="button" class="btn btn-warning btn-full btn-showHidden" {{action "unhideAll"}}>Show Hidden</button>
  {{/if}}
</div>

<ul>
  {{#each mightBeNeeded as |item|}}
    <li class="card item">
      <h3 class="item-name">{{item.name}}</h3>
      <button type="button" class="btn btn-primary item-btn1" {{action "updateItem" item}}>Bought Today</button>
      <button type="button" class="btn btn-alert item-btn2" {{action "hideItem" item}}>Hide</button>
    </li>
  {{else}}
    <li class="card item"><p>Nothing today, add items you've bought or check back tomorrow!</p></li>
  {{/each}}
</ul>
