{{#link-to 'home.add' class="btn btn-primary btn-lrg"}}Add Item{{/link-to}}

  <h2>You Might Need</h2>
{{#if hasHidden}}
  <button type="button" class="btn btn-info" {{action "unhideAll"}}>Unhide All</button>
{{/if}}
<hr>
<ul class="itemList">
  {{#each notHidden key=@item as |item|}}
      {{#if item.mightBeNeeded}}
        <li>
          <button type="button" class="btn btn-info" {{action "updateItem" item}}>Bought Today</button>
          <span class="itemName">{{item.name}}</span>
          <button type="button" class="btn btn-warning" {{action "hideItem" item}}>Hide</button>
        </li>
      {{/if}}
  {{else}}
    <li>Nothing today, add items you've bought or check back tomorrow!</li>
  {{/each}}
</ul>
